[submodule "wallet-enterprise"]
	path = wallet-enterprise
	url = git@github.com:gunet/wallet-enterprise.git
[submodule "wallet-backend-server"]
	path = wallet-backend-server
	url = git@github.com:gunet/wallet-backend-server.git
[submodule "wallet-frontend"]
	path = wallet-frontend
	url = git@github.com:gunet/wallet-frontend.git
