version: '3.9'

name: wallet-ecosystem
services:

  wallet-enterprise-vid-issuer:
    container_name: wallet-enterprise-vid-issuer
    hostname: wallet-enterprise-vid-issuer
    build:
      context: $PWD/wallet-enterprise
      dockerfile: development.Dockerfile
      secrets:
        - npmrc
    image: wallet-enterprise:dev-vid
    restart: on-failure
    ports:
      - 8003:8003
    depends_on:
      wallet-db:
        condition: service_healthy
    volumes:
      - ./wallet-enterprise:/app:rw
      - ./wallet-enterprise-configurations/vid-issuer/datasets/:/datasets/:rw
      - ./wallet-enterprise-configurations/vid-issuer/config/config.development.ts:/app/config/config.development.ts:rw
      - ./wallet-enterprise-configurations/vid-issuer/keys:/app/keys:rw
      - ./wallet-enterprise-configurations/vid-issuer/src/configuration:/app/src/configuration:rw
      - ./wallet-enterprise-configurations/vid-issuer/public/styles/styles.css:/app/public/styles/styles.css:rw
      - ./wallet-enterprise-configurations/vid-issuer/public/images:/app/public/images:rw
      - ./wallet-enterprise-configurations/vid-issuer/views/header.pug:/app/views/header.pug:rw
      - ./wallet-enterprise-configurations/vid-issuer/views/index.pug:/app/views/index.pug:rw
      - ./.vscode/:/app/.vscode:rw
      - type: tmpfs
        target: /app/dist  # Not /dist here because of relative imports that assume dist/ and keys/, views/ etc. are sibling dirs
        tmpfs:
          mode: 01777
    deploy:
      resources:
          limits:
            memory: 1G
  
  wallet-enterprise-ehic-issuer:
    container_name: wallet-enterprise-ehic-issuer
    hostname: wallet-enterprise-ehic-issuer
    build:
      context: $PWD/wallet-enterprise
      dockerfile: development.Dockerfile
      secrets:
        - npmrc
    image: wallet-enterprise:dev-ehic
    restart: always
    ports:
      - 8004:8004
    depends_on:
      wallet-db:
        condition: service_healthy
    volumes:
      - ./wallet-enterprise:/app:rw
      - ./wallet-enterprise-configurations/ehic-issuer/datasets/:/datasets/:rw
      - ./wallet-enterprise-configurations/ehic-issuer/config/config.development.ts:/app/config/config.development.ts:rw
      - ./wallet-enterprise-configurations/ehic-issuer/keys:/app/keys:rw
      - ./wallet-enterprise-configurations/ehic-issuer/public/styles/styles.css:/app/public/styles/styles.css:rw
      - ./wallet-enterprise-configurations/ehic-issuer/src/configuration:/app/src/configuration:rw
      - ./wallet-enterprise-configurations/ehic-issuer/views/header.pug:/app/views/header.pug:rw
      - ./wallet-enterprise-configurations/ehic-issuer/views/index.pug:/app/views/index.pug:rw
      - ./.vscode/:/app/.vscode:rw
      - type: tmpfs
        target: /app/dist  # Not /dist here because of relative imports that assume dist/ and keys/, views/ etc. are sibling dirs
        tmpfs:
          mode: 01777
    deploy:
      resources:
          limits:
            memory: 1G

  wallet-enterprise-pda1-issuer:
    container_name: wallet-enterprise-pda1-issuer
    hostname: wallet-enterprise-pda1-issuer
    build:
      context: $PWD/wallet-enterprise
      dockerfile: development.Dockerfile
      secrets:
        - npmrc
    image: wallet-enterprise:dev-pda1
    restart: always
    ports:
      - 8006:8006
    depends_on:
      wallet-db:
        condition: service_healthy
    volumes:
      - ./wallet-enterprise:/app:rw
      - ./wallet-enterprise-configurations/pda1-issuer/datasets/:/datasets/:rw
      - ./wallet-enterprise-configurations/pda1-issuer/config/config.development.ts:/app/config/config.development.ts:rw
      - ./wallet-enterprise-configurations/pda1-issuer/keys:/app/keys:rw
      - ./wallet-enterprise-configurations/pda1-issuer/src/configuration:/app/src/configuration:rw
      - ./wallet-enterprise-configurations/pda1-issuer/views/header.pug:/app/views/header.pug:rw
      - ./wallet-enterprise-configurations/pda1-issuer/public/styles/styles.css:/app/public/styles/styles.css:rw
      - ./wallet-enterprise-configurations/pda1-issuer/views/index.pug:/app/views/index.pug:rw
      - ./.vscode/:/app/.vscode:rw
      - type: tmpfs
        target: /app/dist  # Not /dist here because of relative imports that assume dist/ and keys/, views/ etc. are sibling dirs
        tmpfs:
          mode: 01777
    deploy:
      resources:
          limits:
            memory: 1G


  wallet-enterprise-acme-verifier:
    container_name: wallet-enterprise-acme-verifier
    hostname: wallet-enterprise-acme-verifier
    build:
      context: $PWD/wallet-enterprise
      dockerfile: development.Dockerfile
      secrets:
        - npmrc
    image: wallet-enterprise:dev-verifier
    restart: on-failure
    ports:
      - 8005:8005
    depends_on:
      wallet-db:
        condition: service_healthy
    volumes:
      - ./wallet-enterprise:/app:rw
      - ./wallet-enterprise-configurations/acme-verifier/config/config.development.ts:/app/config/config.development.ts:rw
      - ./wallet-enterprise-configurations/acme-verifier/keys:/app/keys:rw
      - ./wallet-enterprise-configurations/acme-verifier/src/configuration:/app/src/configuration:rw
      - ./wallet-enterprise-configurations/acme-verifier/public/styles/styles.css:/app/public/styles/styles.css:rw
      - ./wallet-enterprise-configurations/acme-verifier/views/index.pug:/app/views/index.pug:rw
      - ./wallet-enterprise-configurations/acme-verifier/views/header.pug:/app/views/header.pug:rw
      - ./wallet-enterprise-configurations/acme-verifier/views/verifier/public_definitions.pug:/app/views/verifier/public_definitions.pug:rw
      - ./wallet-enterprise-configurations/acme-verifier/views/verifier/QR.pug:/app/views/verifier/QR.pug:rw
      - ./wallet-enterprise-configurations/acme-verifier/views/verifier/success.pug:/app/views/verifier/success.pug:rw
      - ./wallet-enterprise-configurations/acme-verifier/public/images:/app/public/images:rw
      - ./.vscode/:/app/.vscode:rw
      - type: tmpfs
        target: /app/dist
        tmpfs:
          mode: 01777
    deploy:
      resources:
          limits:
            memory: 1G
  
  wallet-db:
    image: mariadb
    container_name: wallet-db
    hostname: wallet-db
    restart: on-failure
    ports:
      - 127.0.0.1:3307:3307
    expose: 
      - 3307
    environment:
      MARIADB_HOST: wallet-db
      MARIADB_ROOT_PASSWORD: root
      MARIADB_USER: myuser
      MARIADB_PASSWORD:
      MYSQL_TCP_PORT: 3307
      MYSQL_UNIX_PORT: 3307
    healthcheck:
      test: ["CMD", "mariadb" ,"-uroot", "-proot", "--protocol=TCP", "-hlocalhost", "--port=3307",  "-estatus"]
      start_period: 60s
      #start_interval: 5s  # Not yet supported it seems, but upcoming: https://github.com/docker/compose/issues/10830
      interval: 5s         # Delete this line when start_interval becomes supported
      timeout: 2s
    volumes:
      # persist data files into `datadir` volume managed by docker
      - datadir:/var/lib/mysql
      # bind-mount any sql files that should be run while initializing
      - ./db-setup/scripts/:/docker-entrypoint-initdb.d/

  # wallet-phpmyadmin:
  #   image: phpmyadmin/phpmyadmin:latest
  #   container_name: wallet-phpmyadmin
  #   hostname: wallet-phpmyadmin
  #   ports:
  #     - 8081:8081
  #   environment:
  #     APACHE_PORT: 8081
  #     PMA_HOST: wallet-db
  #     PMA_PORT: 3307

  wallet-backend-server:
    container_name: wallet-backend-server
    build:
      context: $PWD/wallet-backend-server
      dockerfile: development.Dockerfile
      secrets:
        - npmrc
    image: wallet-backend-server:dev
    restart: on-failure
    ports:
      - 8002:8002
    depends_on:
      wallet-db:
        condition: service_healthy
    volumes:
      - ./wallet-backend-server:/app:rw
      - ./.vscode/:/app/.vscode:rw
      - type: tmpfs
        target: /dist
        tmpfs:
          mode: 01777
    deploy:
      resources:
          limits:
            memory: 1G

  wallet-frontend:
    build:
      context: $PWD/wallet-frontend
      dockerfile: development.Dockerfile
      secrets:
        - npmrc
    image: wallet-frontend:dev
    container_name: wallet-frontend
    hostname: wallet-frontend
    ports:
      - 3000:3000
    volumes:
      - ./wallet-frontend/public:/app/public:rw
      - ./wallet-frontend/src:/app/src:rw
      - ./wallet-frontend/.env:/app/.env:rw
      - ./.vscode/:/app/.vscode:rw
      - type: tmpfs
        target: /app/node_modules/.cache
        tmpfs:
          mode: 01777

  resources-vault:
    build:
      context: $PWD/resources-vault
      dockerfile: Dockerfile
    image: resources-vault:dev
    container_name: resources-vault
    hostname: resources-vault
    volumes:
      - ./resources-vault/src/config/config.js:/app/src/config/config.js
      - ./resources-vault/keys/:/app/keys/
    depends_on:
      wallet-db:
        condition: service_healthy
    ports:
      - 6555:6555

volumes:
  datadir:
  cache:
    driver: local

secrets:
  npmrc:
    file: ./.npmrc
