extends layout.pug

block layout-content
  form#Index(method="POST")
    section.IssuerOrVerifierLayout
      .flex-container
        .image-column
          img(src="/images/back.png", alt="Image Description") 
        .content-column
          h1 #{locale.index.heading}
          p #{locale.index.paragraph}
          button.Btn.Large.Landing(id="mainBtn" type="submit") #{locale.index.proceed}
          input(type="hidden" id="verifier" name="verifier" value="true")

  block footer
    include footer.pug

  link(rel="stylesheet" href="/styles/index.css")
  script(src="/js/index.js")
