:root {
	--primary-color: #4d7e3e;
	--header-bg-color: white;
	--header-item-color: var(--primary-color);
	--layout-bg-color: #e4ebe2;
	--secondary-color: #778DA9;
	--secondary-light-color: #E0E1DD;
	--light-gray: #f5f5f5;
	--dark-gray: #333333;
	--error-red: rgb(209, 3, 3);
	--link-light-blue: rgb(0, 162, 255);
	--btn-yellow: #F9CA1A;
	--btn-yellow-hov: #caa418;
}

/* comment/uncomment or block/none to hide them */
/* .ribbon {
	display: block;
} */

.menu-area {
	display: block;
	font-size: 1.3em;
}

/* -------- end -------- */

/* overwrite Style */
.img-logo {
	height: 60px;
}
/* -------- end -------- */
