:root {
	--primary-color: #4d7e3e;
	--header-bg-color: white;
	--header-item-color: var(--primary-color);
	--layout-bg-color: #e4ebe2;
	--secondary-color: #778DA9;
	--secondary-light-color: #E0E1DD;
	--light-gray: #f5f5f5;
	--dark-gray: #333333;
	--error-red: rgb(209, 3, 3);
	--link-light-blue: rgb(0, 162, 255);
	--btn-yellow: #F9CA1A;
	--btn-yellow-hov: #caa418;
}

/* comment/uncomment or block/none to hide them */
.ribbon {
	display: block;
}

.menu-area {
	display: block;
}

/* ---------------------------------------- */

.img-logo {
	height: 60px;
}

.centered-layout {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%;
}

.container2 {
	min-height: 60vh;
}

/* CSS for the spinner */
#spinner-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	/* Ensure the spinner is on top of other content */
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80px;
	height: 80px;
	border: 10px solid #333;
	/* Border color of the spinner */
	border-top: 10px solid var(--primary-color);
	/* Border color of the spinner top */
	border-radius: 50%;
	animation: spin 4s linear infinite;
	/* Spin animation for 2 seconds */
}

.spinner-circle {
	width: 100%;
	height: 100%;
}

/* Keyframes for the spin animation */
@keyframes spin {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.container-positions {
	padding-left: 5%;
	padding-right: 5%;
}


#successicon {
	width: 300px;
}


table {
	border-collapse: collapse;
	width: 30%;
	margin: 0 auto;
}

th,
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: var(--primary-color);
	color: white;
}

/* .openwithwalletbutton{
		cursor: not-allowed;
		opacity: 0.5;
	} */

.openwithwalletbuttonnative {
	margin-top: 5px !important;
}

textarea.wide {
	width: 60% !important;
}

#json-textarea {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
	padding-top: 0px;
	background-color: white;
	color: black;
	overflow: auto;
	resize: vertical;
	width: 500px;
	min-height: 200px;
}

.expired-label {
	--tw-bg-opacity: 1;
	background-color: rgb(239 68 68 / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
	--tw-border-opacity: 1;
	border-color: rgb(255 255 255 / var(--tw-border-opacity));
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-left-radius: 0.5rem;
	font-size: 0.75rem;
	line-height: 1rem;
	padding: 0.25rem 0.75rem 0.25rem 0.75rem;
	right: 0px;
	bottom: 0px;
	position: absolute;
}

@media (max-width: 768px) {

	#json-textarea {
		width: -webkit-fill-available !important;
		margin-left: 1%;
		margin-right: 1%;
	}
}

.left-layout {
	text-align: left;
}

/* Custom Checkbox Style */
.checkbox input[type="checkbox"] {
	display: none;
}

.checkbox {
	margin-bottom: 7px;
}

.checkbox label {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}

.checkbox label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #555;
	border-radius: 4px;
	background-color: white;
}

.checkbox input[type="checkbox"]:checked+label:before {
	background-color: var(--primary-color);
}

.checkbox input[type="checkbox"]:disabled+label:before {
	background-color: gray;
}

.checkbox label:after {
	content: '';
	position: absolute;
	left: 6px;
	bottom: 2px;
	width: 8px;
	height: 17px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	display: none;
}

.checkbox input[type="checkbox"]:checked+label:after {
	display: block;
}

/* CSS for the claims tables */
.claims-tables {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.claims-tables h4 {
	margin: 10px 0;
	color: #333;
}

.table-container {
	width: 60%;
	margin-bottom: 20px;
	overflow-x: auto;
	/* Enable horizontal scrolling */
}

.table-container table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
	.table-container {
		width: -webkit-fill-available !important;
		margin-left: 1%;
		margin-right: 1%;
	}
}

.table-container table thead tr {
	background-color: #f2f2f2;
}

.table-container table th,
.table-container table td {
	padding: 10px;
	text-align: left;
	border: 1px solid #ddd;
	font-size: 14px;
	overflow-wrap: anywhere;
}

.table-container table th {
	color: white;
}

.table-container table th:first-child,
.table-container table td:first-child {
	width: 30% !important;
}

.table-container table tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

.table-container table tbody tr:hover {
	background-color: #f1f1f1;
}