@import url('https://fonts.googleapis.com/css?family=Josefin+Sans%7Cfamily=Roboto+Slab&display=swap');

:root {
	--header-font: 'Open Sans', sans-serif;
	--main-font: 'Roboto Slab', sans-serif;
	--main-fonts: Helvetica, sans-serif;
	--primary-color: #003399;
	--secondary-color: #d4d4d4;
	--secondary-light-color: #ffffff;
	--light-gray: #f5f5f5;
	--dark-gray: #333333;
	--error-red: rgb(209, 3, 3);
	--link-light-blue: rgb(0, 162, 255);
	--btn-yellow: #F9CA1A;
	--btn-yellow-hov: #caa418;
}

html {
  font-family: var(--main-font);
}

body {
  margin: auto;
	color: #373a3c;
}


h1, h2, h3, h4, h5 {
	color: var(--primary-color);
}

@media only screen and (max-width: 600px) {
	h1, h2, h3, h4, h5 {
		text-align: center;
	}
}




html, body {
  max-width: 100%;
  overflow-x: hidden;
}


p {
	font-size: 18px;
	margin: 0px 0px 16px;
}


.main-container {
	min-height: 70vh;
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 100px;
	/* padding: 40px 60px; */
}

/* @media only screen and (max-width: 600px) {
	.main-container {
		margin: 10px;
		margin-top: 60px;
		margin-bottom: 100px;
	}
} */
.Btn {
	display: block;
	cursor: pointer;
	background: var(--primary-color);
	color: white;
	border: none;
	text-decoration: none;
	transition: 0.4s;
	font-size: 14px;
	width: fit-content;
}

/* .Btn:hover {
	opacity: 0.85;
} */

.Btn.Large {
	padding: 14px 50px;
	min-width: auto;
	/* max-width: 220px; */
	font-size: 18px;
	font-weight: 700;
	border-radius: 3px;
	width: fit-content;
}

.Btn.Large.Landing {
	width: 220px;
}

.Btn.Medium {
	margin: 20px 0 20px;
	padding: 10px 40px;
	font-weight: 700;
	border-radius: 6px;
	max-width: 220px;
	font-size: 16px;
}

.Btn.Small {
	margin: 20px 0 20px;
	padding: 10px 20px;
	min-width: auto;
	font-weight: 400;
	border-radius: 6px;
	max-width: 220px;
}
.Btn.Dialog {
	margin: 20px 0 20px;
	padding: 10px 20px;
	min-width: auto;
	font-weight: 400;
	border-radius: 6px;
	width: 100%;
}

.Btn.Tiny {
	margin: 0;
	padding: 5px 5px;
	font-size: 11px;
	min-width: auto;
	font-weight: 400;
	border-radius: 6px;
	max-width: 175px;
}

.Btn.Header {
	margin: 0;
}

.Btn.Inline {
	display: inline-block;
	margin-left: 10px;
}

.Btn.Yellow {
	background: var(--btn-yellow);
	color: black;
}

.Btn.Yellow:hover {
	background: var(--btn-yellow-hov);
}


.Errors {
	color: rgb(209, 3, 3);
	opacity: 0.8;
	/* transition-delay: 2.7s; */
	transition: 1s;
	    /* -moz-animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards ; */
}



.Errors.Hidden {
	display: none;
}

a.link {
	color: var(--link-light-blue) !important;
	text-decoration: none;
	transition: 0.2s;
}

a.link:hover {
	opacity: 0.7;
}

.ui.label.visible .data {
	display: inline-block;
}

.clickable {
	cursor: pointer;
}

.alert {
	display: none;
}

@keyframes cssAnimation {
    to {
        /* width:0;
        height:0;
        overflow:hidden; */
				opacity: 0;
    }
}
@-webkit-keyframes cssAnimation {
    to {
				opacity: 0;
        /* width:0;
        height:0;
        visibility:hidden; */
    }
}


section.layout {
	flex-direction: column;
	align-items: flex-start;
	display: flex;
	gap: 16px;
}

@media screen and (max-width: 600px) {
	section.layout {
		flex-direction: column;
		align-items: center;
		display: flex;
		gap:16px;
	}
	.Btn.Medium, .Btn.Large {
		width: 100%;
		max-width: none;
	}
}

/* card.css */
.card-container {
  display: flex;
  flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 3rem;
}


.card {
  flex: 0 1 calc(33.33% - 20px);
  margin: 10px;
	margin-left: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
	word-wrap: break-word;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  margin-top: 10px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

/* Media query for small screens (center and same width) */
@media (max-width: 768px) {

  .card {
    flex: 0 1 calc(80% - 20px); /* Adjust the width as needed */
  }
}


.container {
	margin: 60px 30px;
}


.centered-layout {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%;
}


#acmelogo{
	height: 70px;
}

a.logo-area{
	padding:0px!important;
}

.header{
	background-color: white!important;
}

#contact .header h3{
	background-color: transparent!important;
}
.header-content {
	width: 80%!important;
  display: flex;
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Align items vertically */
  padding-left: 10% !important;
  padding-right: 10% !important;
  padding-top: 1% !important;
  padding-bottom: 1% !important;
}

ul.menu{
	display: flex;
	list-style: none; /* Remove bullet points */
	padding: 0; /* Remove default padding */
	margin: 0; /* Remove default margin */
}

li.menu-item {
	color:var(--primary-color);
  margin-right: 20px; /* Adjust the spacing between menu items */
}

a.menu-link {
	color:var(--primary-color)!important;
  text-decoration: none; /* Remove underlines from links */
  font-weight: bold; /* Set font weight to bold */
}

.header-border {
  display: none;
}

#Header .header-content a{
	color:var(--primary-color)!important;
	font-size: 	20px!important;

}

.mobile-menu-toggle {
  display: none; 
}

@media screen and (max-width: 768px) {

  .mobile-menu-toggle {
    display: block; 
  }

	ul.menu{
		display: none;
	}
	
	#menu-toggle-button{
		background-color: white;
    border: none;
    font-size: larger;
		color: var(--primary-color);
	}

  .menu {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .menu.show-menu {
    display: block; 
  }

  .menu li.menu-item {
    padding: 10px;
  }

}

/* Flex container for the layout */
.flex-container {
	padding: 5%;
  display: flex;
  align-items: center; /* Vertically center items within the flex container */
  justify-content: space-between; /* Create space between columns */
}

/* Styling for the image column */
.image-column {
	text-align: center;
  width: 50%; /* Set the width of the image column */
}

/* Styling for the content column */
.content-column {
	height: 100%;
  width:50%; /* Set the width of the content column */
}

@media screen and (max-width: 768px) {
	.flex-container {
			flex-direction: column; /* Stack columns vertically */
			align-items: stretch; /* Stretch items vertically to occupy full width */
	}

	.image-column, .content-column {
			width: 100%; 
			padding: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
	}
}

/* Styling for the image */
.image-column img {
  max-width: 70%; /* Ensure the image doesn't exceed its container */
}

/* Additional styling for the content elements */
.content-column h1 {
  font-size: 35px; /* Adjust the font size as needed */
  margin-bottom: 15px; /* Add spacing below the title */
}

.content-column p {
  font-size: 16px; /* Adjust the font size as needed */
  margin-bottom: 15px; /* Add spacing below paragraphs */
}

.content-column .demo-text {
  font-size: 14px; /* Adjust the font size as needed */
  color: #888; /* Set the text color for the demo text */
}



#Header{
	height:12vh;
}

#Index{
	display: flex;
	min-height:60vh;
	margin: 0px;

}
body{
	background-color:#D4E0F8 !important

}
.container{
	padding:5%;
	padding-top: 2%;
	margin: 0!important;

}
.btn-primary{
background-color: var(--primary-color)!important;
}
.footer{
	height: 28vh;
	margin:0!important;
	background-color: var(--primary-color)!important;
}

#FooterLogo{
	filter: brightness(0) invert(1);

}

.Footer .left.content .header{
	background-color: transparent!important;
}

.Btn.Large.Landing, .Btn.Medium{
	background-color: var(--primary-color);
}


.btn-primary {
	padding: 10px 40px;
	font-weight: 700;
	border-radius: 6px;
	max-width: 220px;
	font-size: 16px;
}

.CenteredLayout{
	background-color: white;
	padding: 20px;
}

@media screen and (max-width: 768px) {
	.CenteredLayout{

		width: auto!important;
	}
}

.container2{
min-height:60vh;
}


/* CSS for the spinner */
#spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; /* Ensure the spinner is on top of other content */
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border: 10px solid #333; /* Border color of the spinner */
  border-top: 10px solid var(--primary-color); /* Border color of the spinner top */
  border-radius: 50%;
  animation: spin 4s linear infinite; /* Spin animation for 2 seconds */
}

.spinner-circle {
  width: 100%;
  height: 100%;
}

/* Keyframes for the spin animation */
@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.container-positions{
	padding-left: 5%;
	padding-right:5%;
}


#successicon{
	width:300px;
}


table {
  border-collapse: collapse;
  width: 30%;
  margin: 0 auto;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--primary-color);
	color:white;
}

/* .openwithwalletbutton{
	cursor: not-allowed;
	opacity: 0.5;
} */

.openwithwalletbuttonnative{
	margin-top:5px!important;
}

textarea.wide{
	width: 40% !important;
}

#json-textarea {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
	padding-top: 0px;
	background-color: white;
	color: black;
	overflow: auto;
	resize: vertical;
	width: 500px;
	min-height: 200px;
}

.expired-label {
	--tw-bg-opacity: 1;
	background-color: rgb(239 68 68 / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
	--tw-border-opacity: 1;
	border-color: rgb(255 255 255 / var(--tw-border-opacity));
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-left-radius: 0.5rem;
	font-size: 0.75rem;
	line-height: 1rem;
	padding: 0.25rem 0.75rem 0.25rem 0.75rem;
	right: 10px;
	bottom: 10px;
	position: absolute;
}

@media (max-width: 768px) {

	#json-textarea{
		width: -webkit-fill-available!important;
		margin-left: 1%;
		margin-right: 1%;
	}
}

.left-layout {
	text-align: left;
}

/* Custom Checkbox Style */
.checkbox input[type="checkbox"] {
	display: none;
}

.checkbox{
	margin-bottom: 7px;
}

.checkbox label {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}

.checkbox label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #555;
	border-radius: 4px;
	background-color: white;
}

.checkbox input[type="checkbox"]:checked + label:before {
	background-color: var(--primary-color);
}

.checkbox input[type="checkbox"]:disabled + label:before {
	background-color: gray;
}

.checkbox label:after {
	content: '';
	position: absolute;
	left: 6px;
	bottom: 2px;
	width: 8px;
	height: 17px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	display: none;
}

.checkbox input[type="checkbox"]:checked + label:after {
	display: block;
}
