#Header
	.header
		.ribbon
			a.ribbonText DEMO
		.header-content#vid-issuer
			a.logo-area(href="#")
				span(class="logo-text") PDA1 Issuer
		.header-border

	link(rel="stylesheet" href="/styles/header.css")
	script(src="/js/header.js")