@import url('https://fonts.googleapis.com/css?family=Josefin+Sans%7Cfamily=Roboto+Slab&display=swap');

:root {
	--header-font: 'Open Sans', sans-serif;
	--main-font: 'Roboto Slab', sans-serif;
	--main-fonts: Helvetica, sans-serif;
	--primary-color: #1B263B;
	--secondary-color: #778DA9;
	--secondary-light-color: #E0E1DD;
	--light-gray: #f5f5f5;
	--dark-gray: #333333;
	--error-red: rgb(209, 3, 3);
	--link-light-blue: rgb(0, 162, 255);
	--btn-yellow: #F9CA1A;
	--btn-yellow-hov: #caa418;
}

html {
  font-family: var(--main-font);
}

body {
  margin: auto;
	color: #373a3c;
}


h1, h2, h3, h4, h5 {
	opacity: 0.6;
	color: #000;
}

@media only screen and (max-width: 600px) {
	h1, h2, h3, h4, h5 {
		text-align: center;
	}
}




html, body {
  max-width: 100%;
  overflow-x: hidden;
}


p {
	font-size: 18px;
	margin: 0px 0px 16px;
}


.main-container {
	min-height: 70vh;
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 100px;
	/* padding: 40px 60px; */
}

/* @media only screen and (max-width: 600px) {
	.main-container {
		margin: 10px;
		margin-top: 60px;
		margin-bottom: 100px;
	}
} */
.Btn {
	display: block;
	cursor: pointer;
	background: var(--primary-color);
	color: white;
	border: none;
	text-decoration: none;
	transition: 0.4s;
	font-size: 14px;
	width: fit-content;
}

.Btn:hover {
	opacity: 0.85;
}

.Btn.Large {
	padding: 14px 50px;
	min-width: auto;
	/* max-width: 220px; */
	font-size: 18px;
	font-weight: 700;
	border-radius: 3px;
	width: fit-content;
}

.Btn.Large.Landing {
	width: 220px;
}

.Btn.Medium {
	margin: 20px 0 20px;
	padding: 10px 40px;
	font-weight: 700;
	border-radius: 6px;
	max-width: 220px;
	font-size: 16px;
}

.Btn.Small {
	margin: 20px 0 20px;
	padding: 10px 20px;
	min-width: auto;
	font-weight: 400;
	border-radius: 6px;
	max-width: 220px;
}

.Btn.Tiny {
	margin: 0;
	padding: 5px 5px;
	font-size: 11px;
	min-width: auto;
	font-weight: 400;
	border-radius: 6px;
	max-width: 175px;
}

.Btn.Header {
	margin: 0;
}

.Btn.Inline {
	display: inline-block;
	margin-left: 10px;
}

.Btn.Yellow {
	background: var(--btn-yellow);
	color: black;
}

.Btn.Yellow:hover {
	background: var(--btn-yellow-hov);
}


.Errors {
	color: rgb(209, 3, 3);
	opacity: 0.8;
	/* transition-delay: 2.7s; */
	transition: 1s;
	    /* -moz-animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards ; */
}



.Errors.Hidden {
	display: none;
}

a.link {
	color: var(--link-light-blue) !important;
	text-decoration: none;
	transition: 0.2s;
}

a.link:hover {
	opacity: 0.7;
}

.ui.label.visible .data {
	display: inline-block;
}

.clickable {
	cursor: pointer;
}

.alert {
	display: none;
}

@keyframes cssAnimation {
    to {
        /* width:0;
        height:0;
        overflow:hidden; */
				opacity: 0;
    }
}
@-webkit-keyframes cssAnimation {
    to {
				opacity: 0;
        /* width:0;
        height:0;
        visibility:hidden; */
    }
}


section.layout {
	flex-direction: column;
	align-items: flex-start;
	display: flex;
	gap: 16px;
}

@media screen and (max-width: 600px) {
	section.layout {
		flex-direction: column;
		align-items: center;
		display: flex;
		gap:16px;
	}
	.Btn.Medium, .Btn.Large {
		width: 100%;
		max-width: none;
	}
}

/* card.css */
.card-container {
  display: flex;
  flex-wrap: wrap;
	flex-direction: column;
}


.card {
  flex: 0 1 calc(33.33% - 20px);
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  margin-top: 10px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

/* Media query for small screens (center and same width) */
@media (max-width: 768px) {

  .card {
    flex: 0 1 calc(80% - 20px); /* Adjust the width as needed */
  }
}


.container {
	margin: 60px 30px;
}

/* .openwithwalletbutton{
	cursor: not-allowed;
	opacity: 0.5;
} */

.openwithwalletbuttonnative{
	margin-top: 0px!important;
}