extends ../layout.pug

block layout-content
  .container2.container-positions
    h1 Create Request for Verifiable Credentials
    .card-container
      for definition in presentationDefinitions
        .card
          .card-title #{definition.title}
          p.card-text #{definition.description}
          .card-buttons
            if definition.selectable === true
              button.btn.btn-primary(onclick=`window.location.href = "/verifier/public/definitions/selectable-presentation-request/${definition.id}"`) Request
            else
              button.btn.btn-primary(onclick=`window.location.href = "/verifier/public/definitions/presentation-request/${definition.id}"`) Request

  block footer
    include ../footer.pug

  link(rel="stylesheet" href="/styles/index.css")
  script(src="/js/index.js")
