name: Build and optionally push Docker image

on:
  workflow_call:
    inputs:
      image-tag:
        type: string
        required: true

      docker-push:
        type: boolean
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: 'Login to GitHub Container Registry'
      uses: docker/login-action@v2
      with:
         registry: ghcr.io
         username: ${{github.actor}}
         password: ${{secrets.GITHUB_TOKEN}}

    - name: Set up .npmrc to access GitHub NPM registry
      uses: wwwallet/wallet-ecosystem/.github/actions/setup-npmrc@master
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - uses: docker/build-push-action@v3
      with:
        context: .
        file: ./Dockerfile
        push: ${{ inputs.docker-push }}
        tags: ${{ inputs.image-tag }}
