name: Build Docker image
on:
  push:
    branches-ignore:
      - master
      - dc4eu-rome
  pull_request:

jobs:
  build-pda1:
    permissions:
      contents: read
      packages: read

    uses: ./.github/workflows/docker-build-push.yml
    secrets: inherit
    with:
      image-tag: ghcr.io/gunet/wallet-enterprise-pda1-issuer:latest
      docker-push: false
      dockerfile-path: ./wallet-enterprise-configurations/pda1-issuer/Dockerfile
